<div class="main-page__container">
  <div *ngIf="_visibleHeader" class="main-page__header">
    <span class="main-page__header-path">{{
      _statsList && _statsList[0] ? _statsList[0].dirPath : "-"
    }}</span>
    <div class="main-page__header-operation">
      <button
        mat-raised-button
        class="main-page__header-btn"
        [disabled]="_status === MainPageStatus.Selected"
        (click)="onClickOpenDirectory()"
      >
        <mat-icon>folder_open</mat-icon>
        フォルダを変更
      </button>
      <button
        mat-raised-button
        class="main-page__header-btn"
        color="warn"
        [disabled]="_status === MainPageStatus.Selected"
        (click)="onClickClear()"
      >
        <mat-icon>backspace</mat-icon>
        クリア
      </button>
    </div>
  </div>
  <div class="main-page__body">
    <ng-container
      *ngIf="!_visibleHeader; then initTemplate; else imageTemplate"
    ></ng-container>
  </div>
</div>

<ng-template #initTemplate>
  <div class="init-message__container">
    <div class="message contrast">
      <button
        mat-raised-button
        class="main-page__header-btn"
        (click)="onClickOpenDirectory()"
      >
        <mat-icon>folder_open</mat-icon>
        フォルダを選択
      </button>
      <span>をクリックして画像を含むディレクトリを選択してください。</span>
    </div>
  </div>
</ng-template>

<ng-template #imageTemplate>
  <mat-divider></mat-divider>
  <div class="image-viewer__container">
    <div class="image-detail">
      <ng-container
        *ngIf="_selectFile; then selectFileTemplate; else unselectFileTemplate"
      ></ng-container>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <app-image-list
      [statsList]="_statsList"
      (loadedEvent)="onLoadedImage($event)"
      (selectImageEvent)="onSelectFile($event)"
    ></app-image-list>
  </div>
</ng-template>

<ng-template #selectFileTemplate>
  <app-image-detail [stats]="_selectFile" [size]="_size"></app-image-detail>
  <div class="scale-switch">
    <button
      mat-mini-fab
      class="scale-switch__btn"
      color="accent"
      matTooltip="フィット"
      matTooltipPosition="left"
      (click)="onClickFit()"
    >
      <mat-icon>aspect_ratio</mat-icon>
    </button>
    <button
      mat-mini-fab
      class="scale-switch__btn"
      color="accent"
      matTooltip="等倍"
      matTooltipPosition="left"
      (click)="onClickCropFree()"
    >
      <mat-icon>crop_free</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #unselectFileTemplate>
  <div class="unselect-file__container">
    <div class="message contrast">一覧から選択した画像を表示します。</div>
  </div>
</ng-template>
