<div class="image-list">
  <div class="image-list__check">
    <mat-checkbox
      [checked]="_tagDelateStatus === TagDelete.All"
      [disabled]="!_isLoaded || _tagDelateStatus === TagDelete.None"
      [indeterminate]="_tagDelateStatus === TagDelete.Part"
      (change)="onChangeChecked($event.checked)"
    >
      {{ _isLoaded ? _checkLabel : "" }}
    </mat-checkbox>
  </div>
  <mat-divider></mat-divider>
  <ul class="image-list__items">
    <li>
      <app-image-select
        *ngFor="let stats of statsList; let idx = index; trackBy: trackByFile"
        class="image-list__image"
        [stats]="stats"
        [checked]="_statsTagDeleteMng[stats.id!].checked"
        [deleted]="_statsTagDeleteMng[stats.id!].deleted"
        (statsChange)="statsList[idx] = $event"
        (loadedEvent)="onLoadedImage($event)"
        (selectEvent)="onSelectFile($event)"
        (changeTagDelStatusEvent)="onChangeTagDelStatus(stats, $event)"
      ></app-image-select>
    </li>
  </ul>
  <mat-divider></mat-divider>
  <div *ngIf="!_isLoaded" class="image-list__counter">
    <ngx-mat-counterspinner
      [value]="_loadCounter"
      [display]="CounterSpinnerDisplayMode.Ratio"
      [max]="statsList.length"
      [color]="'warn'"
    ></ngx-mat-counterspinner>
  </div>
  <div *ngIf="_isLoaded" class="image-list__done">
    <button
      mat-raised-button
      color="primary"
      [disabled]="
        _tagDelateStatus === TagDelete.None ||
        _tagDelateStatus === TagDelete.Uncheck
      "
      (click)="onClickTagDelete()"
    >
      MPFタグ削除
    </button>
  </div>
</div>
