@import "../../theme/mixin";

:host {
  width: 100%;
  height: 100%;
}

.image-detail {
  &__container {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;

    &.scroll {
      overflow: auto;
    }

    &-img {
      object-fit: contain;

      transition: all 1s 0s ease-in-out;
      opacity: 0;
      background-color: transparent;

      &.visible {
        opacity: 1;
      }
    }
  }
}

.loading-shade {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: all 0.8s 0s ease-in;

  visibility: hidden;
  opacity: 0;

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}
